* {
    padding: 0;
    margin: 0;
/*    box-sizing: border-box;*/
    font-size: 10px;
}

body {
	background-color: #ccc;
	background-size: contain;
}

footer {
	background-color:#FFFFFF;
	margin-top:20px;
}

.col-md-3 {
	background-color: #FFFFFF;
}

.img-thumbnail {
	margin: 10px;
}

h1 {
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	padding-top: 60px;
	padding-bottom: 30px;
	text-align:left;
    font-size: 4rem;
}

#fav_things {
	background-color:#FFFFFF;
	text-align:center;
	padding-top:10px;
}

/************************************** Portfolio Styling **************************/

/* portfolio landing page body tag */
#portfolio-lp {
    background: url('../portfolio/img/macbook-pro.jpg') no-repeat center center/cover;
    height: 100vh;
    padding: 2rem;
}

#portfolio-heading-main {
    float: right;
    color: #fff
}

.my-work {
    float: right;
    margin-top: 8rem;
}

.my-sites {
    display: inline-block;
    text-decoration: none;
    color: #fff; 
    padding-top: 100px;
}

.my-sites:hover {
    color: #f4f4f4;
}