* {
    padding: 0;
    margin: 0;
/*    box-sizing: border-box;*/
    font-size: 10px;
}

body {
	background-color: #ccc;
	background-size: contain;
}

footer {
	background-color:#FFFFFF;
	margin-top:20px;
}

.col-md-3 {
	background-color: #FFFFFF;
}

.img-thumbnail {
	margin: 10px;
}

h1 {
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	padding-top: 60px;
	padding-bottom: 30px;
	text-align:left;
    font-size: 4rem;
}

#fav_things {
	background-color:#FFFFFF;
	text-align:center;
	padding-top:10px;
}

/************************************** Portfolio Styling **************************/

/*navigation*/
#main-nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    background: #ccc;
}

#main-nav .container ul {
    float: right;
    list-style: none;
    border: none;
}

#main-nav .container ul li {
    float: left;
}

#main-nav .container ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

/* portfolio landing page body tag */
#portfolio-lp {
    background: url('../portfolio/img/macbook-pro.jpg') no-repeat center center/cover;
    height: 100vh;
    padding: 2rem;
}

#portfolio-heading-main {
    float: right;
    color: #fff;
    margin-top: 40px;
}

.my-work {
    float: right;
    margin-top: 8rem;
    margin-left: 10rem;
}

.my-sites {
    display: block;
    text-decoration: none;
    color: #fff; 
    font-size: 1.5rem;
}

.my-sites:hover {
    color: #f4f4f4;
}